<head>
    <title>admin</title>
    <link rel="stylesheet" href="../css/login.css" />
  </head>
<body>
<Section id="blogpage" class="container-fluid">
    <h1 class="mb-2">Admin Panel</h1>
    <div class="card bg-light">
        <h2>Manage Blog</h2>
        <a href="/blog/new" class="btn btn-success text-white mb-4">CREATE NEW BLOG</a>
        <div class="card-columns mb-4">
        <% blogs.forEach(blog => { %>
            <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title"><a href="blog/<%= blog.slug %>"><strong><%= blog.title %></strong></a></h4>
                <div class="mb-2">
                <a href="blog/<%= blog.slug %>"><img width="100%" src="<%= blog.coverImagePath %>"></a>
                </div>
                <div class="card-subtitle text-muted mb-2">
                By <%= blog.author %>  <%= blog.createdAt.toLocaleDateString() %>
                </div>
                <div class="card-text mb-2"><a href="blog/<%= blog.slug %>"><%= blog.description %></a></div>  
                <a href="/blog/edit/<%= blog.slug %>" class="btn btn-info text-white"><i class="fas fa-edit"></i></a>
                <form action="/blog/delete/<%= blog.slug %>?_method=DELETE" method="POST" class="d-inline">
                    <button onclick="return confirm('Are you sure you want to delete this item?');" type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </form>  
            </div>
            </div>
        <% }) %>
        </div>
    </div>
    <br>
    <div class="card bg-light">
        <h2>Manage Visuals</h2>
        <a href="/visuals/new" class="btn btn-success text-white mb-4">CREATE NEW VISUAL</a>
        <div class="card-columns mb-4">
        <% visual.forEach(visual => { %>
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title"><strong><%= visual.name %></strong></h4>
                    <div class="mb-2">
                    <img width="100%" src="<%= visual.visualImagePath %>">
                    </div>
                    <form action="/visuals/<%= visual.name %>?_method=DELETE" method="POST" class="d-inline">
                        <button onclick="return confirm('Are you sure you want to delete this item?');" type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                    </form>  
                </div>
            </div>
        <% }) %>
        </div>
    </div>
    <%= data.name %>
    <%= data.email %>
    <%= data.role %>
</Section>
</body>