<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohwa | blog</title>
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../fontawesome-5.5/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

</head>
<body>
  <Section id="blogpage" class="container-xl">
    <h1 class="mb-2">BLOG</h1>
    <%- hide1 %><a href="/blog/new" class="btn btn-dark text-white mb-4">New Article</a><%- hide2 %>
    <div class="card-columns mb-4 animate__animated animate__bounceInUp">
      <% blogs.forEach(blog => { %>
        <div class="card bg-light">
          <div class="card-body text-center">
            <h4 class="card-title"><a href="blog/<%= blog.slug %>"><strong><%= blog.title %></strong></a></h4>
            <div class="mb-2">
              <a href="blog/<%= blog.slug %>"><img width="100%" src="<%= blog.coverImagePath %>"></a>
            </div>
            <div class="card-subtitle text-muted mb-2">
            By <%= blog.author %>  <%= blog.createdAt.toLocaleDateString() %>
            </div>
            <div class="card-text mb-2"><a href="blog/<%= blog.slug %>"><%= blog.description %></a></div>    
          </div>
        </div>
      <% }) %>
    </div>
  </Section>

</body>
</html>