<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohwa | blog</title>
</head>
<body>
  <nav class="navbar navbar-expand-md fixed-tm-navbar">
    <div class="container-fluid">
        <a href="/"><button accesskey="h" class="homebutton">
            <img src="https://res.cloudinary.com/mohwa/image/upload/v1608465343/MOHWALogo_zc4jos.png" class="img-fluid logo-image" alt="MOHWA logo">
        </button></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link tm-nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tm-nav-link currenttab" href="../../blog">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tm-nav-link" href="/contact">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tm-nav-link" href="/bookings">BOOKINGS</a>
            </li>
        </ul>
        </div>
    </div>
  </nav>  
  <Section id="blogpage" class="container-xl">
    <div class="float-right"><%- hide1 %><a href="/adminpanel" class="btn-dark text-white mb-4 btn-sm"><i class="fas fa-tachometer-alt"></i></a><%- hide2 %></div>
    <h1 class="mb-2">BLOG</h1>
    <div class="card-columns mb-4 animate__animated animate__bounceInUp">
      <% blogs.forEach(blog => { %>
        <div class="card bg-light">
          <div class="card-body text-center">
            <h4 class="card-title"><a href="blog/<%= blog.slug %>"><strong><%= blog.title %></strong></a></h4>
            <div class="mb-2">
              <a href="blog/<%= blog.slug %>"><img width="100%" src="<%= blog.coverImagePath %>"></a>
            </div>
            <div class="card-subtitle text-muted mb-2">
            By <%= blog.author %>  <%= blog.createdAt.toLocaleDateString() %>
            </div>
            <div class="card-text mb-2"><a href="blog/<%= blog.slug %>"><%= blog.description %></a></div>    
          </div>
        </div>
      <% }) %>
    </div>
  </Section>
</body>
