<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohwa | <%= blog.title %></title>
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-tm-navbar">
        <div class="container-fluid">
            <a href="/"><button accesskey="h" class="homebutton">
                <img src="https://res.cloudinary.com/mohwa/image/upload/v1608465343/MOHWALogo_zc4jos.png" class="img-fluid logo-image" alt="MOHWA logo">
            </button></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tm-nav-link currenttab" href="../../blog">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="/contact">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="/bookings">BOOKINGS</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>  
    <Section id="blogshow" class="container-fluid">
        <div class="col-xl-8">
            <h1 class="mb-1"><strong><%= blog.title %></strong></h1>
            <div class="text-muted mb-2">
                By <%= blog.author %> <%= blog.createdAt.toLocaleDateString() %>
            </div>
            <div class="mb-2">
                <img width="90%" src="<%= blog.coverImagePath %>">
            </div>
            <div class="mb-4 pt-4">
                <%- blog.sanitizedHtml %>
            </div>
        </div>
        <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = "https://www.mohwamusic.com/";  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "blog/<%= blog.slug %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://mohwamusic.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </Section>
</body>