<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohwa | <%= blog.title %></title>
</head>
<body>
    <Section id="blogshow" class="container-lg">
    <div class="col-xl-8">
        <h1 class="mb-1"><strong><%= blog.title %></strong></h1>
        <div class="text-muted mb-2">
            By <%= blog.author %> <%= blog.createdAt.toLocaleDateString() %>
        </div>
        <div class="mb-2">
            <img width="90%" src="<%= blog.coverImagePath %>">
        </div>
        <%- hide1 %><a href="/blog/edit/<%= blog.slug %>" class="btn btn-info text-white"><i class="fas fa-edit"></i></a>
        <form action="/blog/<%= blog.slug %>?_method=DELETE" method="POST" class="d-inline">
            <button onclick="return confirm('Are you sure you want to delete this item?');" type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
        </form><%- hide2 %>
        <div class="mb-4 pt-4">
            <%- blog.sanitizedHtml %>
        </div>
    </div>
</Section>

</body>