<head>
    <title>Mohwa | <%= blog.title %></title>
    <meta name="description" content="<%= blog.description %>" />
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-tm-navbar">
        <div class="container-fluid">
            <a href="/"><button accesskey="h" class="homebutton">
                <img src="https://res.cloudinary.com/mohwa/image/upload/v1608465343/MOHWALogo_zc4jos.png" class="img-fluid logo-image" alt="MOHWA logo">
            </button></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tm-nav-link currenttab" href="../../blog">BLOG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="../../visuals">VISUALS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>  
    <Section id="blogshow" class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1 col-xl-2"></div>
            <div class="col-sm-10 col-md-6 col-lg-6 col-xl-6">
                <h1 class="mb-1"><strong><%= blog.title %></strong></h1>
                <div class="text-muted mb-2">
                    By <%= blog.author %> <%= blog.createdAt.toLocaleDateString() %>
                </div>
                <div class="mb-2">
                    <img width="90%" src="<%= blog.coverImagePath %>">
                </div>
                <div class="mb-4 pt-4">
                    <%- blog.sanitizedHtml %>
                </div>
                <% for(var i= 0 ; i < blog.comments.length; i++) {%>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row mb-2">
                                <h5 class="card-title col-md-3"><strong><%=blog.comments[i].name %></strong></h5>
                                <p class="card-text col-md-9">"<%=blog.comments[i].text %>"</p>
                            </div>
                            <small class="text-muted"><%=blog.comments[i].date %></small>
                        </div>
                    </div>
                <% } %>
                <form action="/blog/<%= blog.slug %>" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="comment"><Strong>Comment</Strong></label>
                        <input onClick="show()" type="text" required name="comment" id="comment" class="form-control comment" placeholder="What are your thoughts?" />
                    </div>
                    <div class="form-group">
                        <input required type="text" id="name" class="form-control comment" placeholder="Name (required)" name="name" style="display:none;" />
                    </div>
                    <button type="submit" class="btn btn-light mb-5"><Strong>Comment</Strong> <i class="fas fa-comment"></i></button>
                </form>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-md-4 col-lg-4 col-xl-3 bloginfo rounded">
                <div class="blogcard rounded">
                    <h2>About Me</h2>
                    <img class="fakeimg" src="../../images/IMG_0079.JPG">
                    <p>I'm a pharmacist that can play the guitar.</p>
                </div>
                <div class="blogcard rounded">
                    <h3>Follow Me</h3>
                    <p>
                    <a href=https://www.instagram.com/mo.hwa/ target="_blank"><img src=../../images/socialmediaicons/instawhite.png height="25" alt=Instagram></a>
                    <a href=https://www.youtube.com/channel/UCiEFin1KR5MN467s_MVCGDg/ target="_blank"><img src=../../images/youtube/yt_icon_mono_dark.png height="25" alt=YouTube></a> 
                    </p>
                </div>
            </div>
        </div>
    </Section>
    <script>
        function show()
            {
                document.getElementById('name').style.display="block" ;
            }

            var showButton = document.getElementsByName('show')[0];

            showButton.addEventListener('click', show, false);
    </script>
</body>